doctype html
html(lang="ko")
	head
		include ./inc/header.pug
	body
		include ./inc/navi.pug
		.container.my-3
			.jumbotron
				.h2= `${title}`
			table#gbook-tb.table.table-bordered.table-hover.my-3.text-center
				colgroup
					col(width="8%")
					col(width="15%")
					col(width="18%")
					col
					col(width="15%")
				thead.thead-dark
					tr
						th 번호
						th 작성자
						th 작성일
						th 한마디
						th 비고
				tbody
					each item in datas
						tr
							td= item.id
							td= item.writer
							td= item.wtime
							td.text-left= item.comment
								if item.useIcon.new
									img.ml-2(src="/img/icon/new.png")
								if item.useIcon.doc
									img.ml-2(src="/img/icon/doc.png")
								if item.useIcon.ppt
									img.ml-2(src="/img/icon/ppt.png")
								if item.useIcon.xls
									img.ml-2(src="/img/icon/xls.png")
								if item.useIcon.txt
									img.ml-2(src="/img/icon/txt.png")
								if item.useIcon.hwp
									img.ml-2(src="/img/icon/hwp.png")
								if item.useIcon.zip
									img.ml-2(src="/img/icon/zip.png")
								if item.useIcon.png
									img.ml-2(src="/img/icon/png.png")
								if item.useIcon.gif
									img.ml-2(src="/img/icon/gif.png")
								if item.useIcon.jpg
									img.ml-2(src="/img/icon/jpg.png")
								if item.useIcon.pdf
									img.ml-2(src="/img/icon/pdf.png")
							td
								button.btn.btn-info.btn-sm.mr-1.btChg 수정
								button.btn.btn-danger.btn-sm.btRev 삭제
			include ./inc/pager.pug
		include ./inc/modal_vi.pug
		include ./inc/modal_up.pug
		include ./inc/modal_rm.pug
		include ./inc/footer.pug
		include ./inc/script.pug